@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');

:root {
    --black-nhat2: rgb(221, 221, 227);
    --black: rgb(39, 39, 42);
    --white: #ffffff;
    --sologor: rgb(0, 62, 161);
    --hover-button: rgb(236, 239, 247);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

.gird {
    width: 1600px;
    max-width: 100%;
    margin: 0 auto;
}
