.list-spnew {
    width: 100%;
    height: 600px;
    background-color: white;
    display: flex;
}

.spnew {
    width: 20%;
    padding: 10px;
    .spnew-img {
        height: 200px;
        img {
            width: 100%;
            height: 200px;
        }
    }
}
