// header-search
.search {
    width: 900px;
    border: 1px solid #333;
    height: 45%;
    align-items: center;
    border-radius: 5px;
}
.search-input {
    width: 87%;
    border: none;
}

.clear {
}
.loading {
}

.search-btn {
    font-size: 2rem;
    border: none;
}
