.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(245 245 250);
}

.container {
    margin-top: 20px;
    display: flex;
}

.container-item {
    display: flex;
    margin-top: 20px;
}

.silde {
    width: 20%;
}

.content {
    width: 80%;
    margin-left: 10px;
}
